.topo{
    margin: 40px;
    display: flex;
    justify-content: space-between;
}


.logo h1{
    color: var(--cor-branco);
    font-size: 35px;
    margin-left: 40px;
    
}
.btn-contato button{
    padding: 10px 40px;
    font-size: 18px;
    font-weight: 600;
    background-color: #00FF08;
    border: 0;
    border-radius: 30px;
    cursor: pointer;
    transition: .2s;
}

.links_topo-link {
    list-style-type: none;
    display: flex;

}

.link_topo{
    padding: 10px;
    text-decoration: none;
    color: #ffffff8f;
    display: inline-block;
    font-size: 20px;
    transition: .2s;

}

.link_topo:hover{
    color: var(--cor-branco);
    transform: scale(1.05);
}

.sobre__banner{
    width: 40%;
    height: 25vh;
}

svg{
    display: absolute;
    width: 70%;
    height: 70%;
    
}

svg text{
    font-family: "Cinzel Decorative", serif;
    font-size: 100px;
    font-weight: bold;
    animation: stroke 7s infinite alternate;
}

@keyframes stroke {
    0%{
        fill: rgba(246, 245, 247, 0);
        stroke: rgb(253, 253, 253);
        stroke-width: 2;
        stroke-dashoffset: 25%;
        stroke-dasharray: 0 50%;
    }
    70%{
        fill: rgba(231, 225, 235, 0);
        stroke: rgb(238, 236, 236);
    }
    80%{
        fill: rgba(237, 231, 240, 0);
        stroke: rgb(235, 230, 230);
        stroke-width: 3;
    }
    100%{
        fill: rgb(17, 233, 46);
        stroke: rgba(35, 214, 89, 0);
        stroke-width: 2;
        stroke-dashoffset: -25%;
        stroke-dasharray: 50% 0;
    }

}

.btn-abrir-menu{
    display: none;
}
